body {
    background: #101010;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.card {
    background: #1b1b1b;
    border: 1px solid #333;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 15px;
}